<template>
    <select name = 'city' class='field booking-form__city-select' v-model='selected'>
        <option v-for='city in cities'
            :value="city"
            :key='city.id'>
            {{city.name}}
        </option>
    </select>
</template>

<script>
export default {
    computed: {
        cities() {
            if (this.$store.state.city == '')
                this.$store.dispatch('setDefaultCity');
            return this.$store.state.cities;
        },
        selected: {
            get() {
                return this.$store.state.city;
            },
            set(value){
                this.$store.dispatch('setCity', value);
            }
        }
    }
}
</script>

<style >
.booking-form__city-select{
    margin-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../assets/arrow.png') no-repeat 100% 50%;
    background-size: 25px;
    text-indent: 15px;
}
</style>
