<template>
    <div>
        <select
        :class='["field", "booking-form__date-select", "booking-form__day-select", !dayValid ? "booking-form__input--not-valid" : ""]'
        v-model='selectedDay'
        name="day"
        @blur='checkDay'
        required>
            <option value="" hidden>Дата</option>
            <option v-for='day in days'
            :key='day.day' 
            :value="day">{{day.day}}
            </option>
        </select>
        
        <select 
        :class='["field", "booking-form__date-select", "booking-form__time-select", !timeValid ? "booking-form__input--not-valid" : ""]' 
        v-model='selectedTime' 
        name="time"
        @blur='checkTime'
        required>
            <option value="" hidden>Время</option>
            <option v-for='time in freeTimes'
            :value="time"
            :key='time'>{{time}}</option>
        </select>
        <p v-if='!dayValid || !timeValid'
        class='booking-form__error-label'> {{dateError}}</p>

    </div>
</template>

<script>
export default {
    computed: {
        selectedDay: {
            get() {
                return this.$store.state.selectedDay;
            },
            set(value){
                this.$store.commit('setDay', value);
                this.$store.commit('setTime', '')
            }
        },

        selectedTime: {
            get() {
                return this.$store.state.selectedTime;
            },
            set(value){
                this.$store.commit('setTime', value)
            }
        },
        dayValid() {
            return this.$store.state.dayValid;
        },
        timeValid() {
            return this.$store.state.timeValid;
        },
        dateError() {
            let msg = '';
            if (!this.dayValid){
                msg = 'Пожалйста, выберите дату и время';
            }
            else if (!this.timeValid){
                msg = 'Пожалуйста, выберите время';
            }
            return msg;
        },
        allTimes() {
            return this.$store.state.cityInfo;
        },
        freeTimes() {
            if (!this.selectedDay)
                return [];
            return this.selectedDay.times.map( (el) => {
                return el.begin + '-' + el.end;
            })
        },

        days() {
            let days = []
            let dates = this.allTimes;
            if (!dates)
                return []
            dates = dates.data
            for (let day in dates) {
                let t = []
                let times = dates[day];
                for (let time in times) {
                    if (times[time].is_not_free)
                        continue;
                    else {
                        t.push(times[time]);
                    }
                }
                if (t.length > 0) {
                    days.push({day:day, times: t})
                }
            }
            for (let day in days){
                days[day].day = (new Date(days[day].day).toLocaleString('ru', {weekday: 'long', month:'long', day:'numeric'}))
                days[day].day = days[day].day[0].toUpperCase() + days[day].day.substring(1);
            }
            return days;
        }
    },
    methods: {
        checkDay() {
            if (this.selectedDay === '') {
                this.$store.commit('isDayValid', false);
            }
            else {
                this.$store.commit('isDayValid', true);
            }
        },
        checkTime() {
            if( this.selectedDay === '')
                return;
            if (this.selectedTime === '') {
                this.$store.commit('isTimeValid', false);
            }
            else {
                this.$store.commit('isTimeValid', true);
            }
        }
    }
}
</script>

<style scoped>
.booking-form__date-select {
    width: 48%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ccc6c6;
    background: url('../../assets/arrow.png') no-repeat 100% 50% #e4e4e4;
    background-size: 25px;
    text-indent: 15px;
}
.booking-form__date-select:invalid {
    color: #8e8e8e;
}

.booking-form__time-select {
    float:right;
}

@media screen and (max-width: 600px) {
    .booking-form__date-select {
        width: 100%;
        
    }  
}
</style>
