<template>
    <div>
        <input 
        autocomplete="off" 
        required 
        :class='["field", "booking-form__name-input", !valid ? "booking-form__input--not-valid" : "", filled ? "booking-form__name-input--valid" : ""]'
        type="text" name='name' placeholder='Ваше имя' 
        v-model.lazy='name' 
        @blur='check'>
        <p class='booking-form__error-label' v-if='!valid'>Пожалуйста, укажите имя</p>
    </div>
    
</template>

<script>

export default {
    computed: {
        name: {
            get() {
                return this.$store.state.name;
            },
            set(value) {
                this.$store.commit('setName', value)
            }
        },

        valid() {
            return this.$store.state.nameValid;
        },

        filled() {
            return this.$store.state.nameFilled;
        }
    },
    methods: {
        check() {
            if (this.name.length > 0) {
                this.$store.commit('setNameValid', true); 
                this.$store.commit('setNameFilled', true);
            }
            else {
                this.$store.commit('setNameValid', false);
                this.$store.commit('setNameFilled', false);            }
        }
    }
}
</script>

<style >

</style>

