<template>
    <div>
        <input :class='["field", !valid ? "booking-form__input--not-valid" : ""]' 
        @blur='check'
        type="text" 
        name='phone'
        v-mask='{mask: "+7(999)999-99-99", showMaskOnHover: false}'
        
        placeholder="+7(___)___-__-__" 
        autocomplete="off" 
        v-model='phone'
        required>
        <p v-if='!valid' class='booking-form__error-label'>Пожалуйста, введите корректный телефон, иначе наши специалисты не смогут связаться с вами</p>
    </div>
</template>

<script>

export default {
    computed: {
        phone: {
            get() {
                return this.$store.state.phone;
            },
            set(value) {
                this.$store.commit('setPhone', value);
            }
        },
        valid(){
            return this.$store.state.phoneValid;
        }
    },
    methods: {
        check() {
            if (this.phone.indexOf('_') == -1 && this.phone.length != 0) {
                this.$store.commit('setPhoneValid', true);
            }
            else {
                this.$store.commit('setPhoneValid', false);
            }
        }
    }

}
</script>

<style>

</style>

