<template>
    <button 
    type='submit' 
    class='booking-form__submit-button'
    :disabled='!valid'
    >Записаться</button>
</template>

<script>
export default {
    computed: {
        valid(){
            if ((this.$store.state.selectedDay &&
                this.$store.state.selectedTime &&
                this.$store.state.phone &&
                this.$store.state.name) &&
                this.$store.state.nameValid &&
                this.$store.state.phoneValid &&
                this.$store.state.dayValid &&
                this.$store.state.timeValid)
                return true;
            else
                return false;
        }
    }
    
}
</script>

<style>
.booking-form__submit-button{
    display: block;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 145px;
    color: white;
    font-size: 16px;
    background-color: #DB001B;
    border: none;
    border-radius: 30px;
    height: 50px;

    -webkit-appearance: none;
    box-shadow: 0 5px 20px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    
}

.booking-form__submit-button:disabled {
    background-color: #aaaaaa;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
</style>

