<template>
  <div>  
    <div :class="{'booking-app--not-active': active}">
        <booking-form/>
        <booking-footer/>
        <router-link to='/orders'>Записи</router-link>
    </div>
    <modal v-if='showModal' />
  </div>
</template>

<script>
import BookingForm from '@/components/BookingForm';
import BookingFooter from '@/components/BookingFooter';
import Modal from '@/components/Modal';

export default {
  name: 'home',
  computed: {
      showModal() {
          return this.$store.state.showModal;
      },
      active() {
            return this.$store.state.active;
        }
  },

  components: {
    BookingForm,
    BookingFooter,
    Modal
  }
}
</script>

<style>
.booking-app--not-active {
    opacity: .3;
    pointer-events: none;
}
</style>
