<template>
    <div>
        <table class='orders-table'>
            <tr class='orders-table__head-order-row'>
                <th>Город</th>
                <th>День</th>
                <th>Время</th>
                <th>Стоимость</th>
                <th></th>
            </tr>
            <tr v-for='order in orders'
            class='orders-table__order-row'
            :key='order.key'>
                <td class='orders-table__order-td'>{{order.city.name}}</td>
                <td class='orders-table__order-td'>{{order.day}}</td>
                <td class='orders-table__order-td'>{{order.time}}</td>
                <td class='orders-table__order-td'>{{order.city.price}}</td>
                <td class='orders-table__order-td'>
                    <button
                    @click='removeOrder(order.key)'
                    class='orders-table__remove-order'>-</button>
                </td>
                    
            </tr>
        </table>
        <router-link tag='button' class='back' to='/'>Назад</router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            orders: ''
        }
    },

    mounted() {
        this.getOrders();
    },
    
    methods: {
        removeOrder(key) {
            localStorage.removeItem(key);
            this.getOrders();
        },

        getOrders() {
            let orders = [];
            let keys = Object.keys(localStorage).filter( (el) => {
                return el.startsWith('order-');
            });
            for (let key of keys){
                orders.push({key: key, ...JSON.parse(localStorage.getItem(key))});
            }
            this.orders = orders;
        }
    }
}
</script>

<style>
.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table__head-order-row {
    border-bottom: 2px solid black;

}

.orders-table__order-row {
    height: 30px;
}

.orders-table__order-td {
    text-align: center;
    border-bottom: 1px solid black;

}

.orders-table__remove-order {
    background-color: #DB001B;
    color: white;
    border: none;
    border-radius: 30%;
    width: 17px;
    height: 17px;
    text-align: center;
}

.back {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 125px;
    color: white;
    font-size: 16px;
    background-color: #DB001B;
    border: none;
    border-radius: 30px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .orders-table {
        font-size: 10px;
    }
}
</style>
