<template>
    <div id='booking-form'>
        <form 
        @submit.prevent="submitForm">
            <fieldset  >
                <city-select />
                <city-info />
                <date-select />
                <phone-input />
                <name-input />
                <submit-booking />
            </fieldset>
        </form>
    </div>
</template>

<script>
import PhoneInput from '@/components/inputs/PhoneInput'
import NameInput from '@/components/inputs/NameInput'
import CitySelect from '@/components/inputs/CitySelect'
import CityInfo from '@/components/CityInfo'
import SubmitBooking from '@/components/inputs/SubmitBooking'
import DateSelect from '@/components/inputs/DateSelect'

export default {
    methods: {
        submitForm() {
            this.$store.commit('setLoading', true);
            this.$store.dispatch('submitForm')
            .then( () => {
                setTimeout(()=>{
                    this.$store.commit('showModal', true);
                    this.$store.dispatch('resetForm');
                    this.$store.commit('setLoading', false);
                }, 3000);                
            });
        }
        
    },

    components:{
        PhoneInput,
        NameInput,
        CitySelect,
        CityInfo,
        SubmitBooking,
        DateSelect
    }
}
</script>

<style>
.field {
    width: 100%;
    height: 50px;
    padding: 0;
    text-indent: 15px;
    margin-top: 15px;
    border: none;
    font-family: tescoregular;
    font-size: 16px;
    font-weight: 700;
    background-color: #e4e4e4;
}

fieldset {
    margin: 0;
    padding: 0;
    border:none;
}

.booking-form__error-label {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    color:  rgb(226, 44, 44);
    font-weight: 550;
}

.booking-form__name-input--valid {
    background-color: #ffffff;
    -webkit-appearance: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.booking-form__input--not-valid {
    background-color: #f7e4e4 !important;
    color: rgb(226, 44, 44) !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8e8e8e;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #8e8e8e;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8e8e8e;
}

.booking-form__input--not-valid::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(226, 44, 44);
    opacity: 1; /* Firefox */
}

.booking-form__input--not-valid:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(226, 44, 44);
    }

.booking-form__input--not-valid::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(226, 44, 44);
}



</style>
