<template>
    <div class='footer'>
        <p class='footer__footer-text'>
            Нажимая "Записаться", я выражаю свое согласие с обработкой моих персональных данных в соответствии с принятой <a href=''>политикой конфиденциальности</a> и принимаю <a href=''>пользовательское соглашение</a>
        </p>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
.footer__footer-text {
    font-size: 14px;
    color: grey;
    line-height: 1.5;

}
@media screen and (max-width: 600px){
    .footer__footer-text {
        font-size: 12px;
    }
}
</style>
