<template>
     <div v-if='city' class='info-block'>
        <p class='info-block__info'>{{city.address}}</p>
        <p class='info-block__info'>
            <span v-for='(phone, i) in phones' :key='phone'>
                <a
                :href='"tel: " + phone'
                style='text-decoration: none;'
                >{{maskedPhone(phone)}}</a>
                <span v-if='i != phones.length-1'>, </span>
            </span>
        </p>
        

        <p class='info-block__info'>Стоимость услуги {{city.price}} ₽</p>
    </div>
</template>

<script>
export default {
    computed:{
        city(){
            return this.$store.state.city;
        },
        phones(){
            return this.$store.state.city.phones.map( (el) => {
                return '+' + el;
            });
        }
    },

    methods: {
        maskedPhone(phone){
                return phone.slice(0, 2) + '(' + phone.slice(2, 5) + ')' + phone.slice(5, 8) + '-' + phone.slice(8, 10) + '-' + phone.slice(10);
        }
    }
}
</script>

<style>
.info-block{
    margin: 0;
    padding: 0;
    
}
.info-block__info {
    margin: 0px;
    margin-left:15px;
}
</style>
