<template>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Подтверждение заявки
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              Мы получили вашу заявку. Наши специалисты свяжутся с вами в ближайшее время.
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              
              <button class="modal-default-button" @click="closeModal">
                Ок
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
    methods: {
        closeModal() {
            this.$store.commit('showModal', false);
        }
    }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header  {
  margin-top: 0;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
    display: block; 
    margin: 0 auto;
    color: white;
    font-size: 16px;
    background-color: #DB001B;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 80px;
}

@media screen and (max-width: 600px) {
    .modal-container {
        width: 200px;
    }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
</style>
