<template>
    <div id="app">
        <div class='container'>
            <booking-logo />
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import BookingLogo from '@/components/BookingLogo.vue'

export default {
    created(){
        this.$store.dispatch('getCities');
    },
    components:{
        BookingLogo
    }
}

</script>

<style>
.container {
    margin:auto;
    padding: auto;
    width: 40%;
}

.hidden {
    overflow: hidden;
    position: relative;
}
select::-ms-expand {
    display: none;
}

a:visited {
    color: blue;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
</style>
